* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.long, .short, .short2, .short3, .center {
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    transition: all .5s ease;

}
.long {
    width: 800px;
    height: 60px;
    top: 50px;
    left: calc(50% - 400px);
    background-color: red;
}
.long:hover {
    transform: scale(1.5);
    background-color: orange;
}
.short {
    width: 300px;
    height: 60px;
    top: 180px;
    left: calc(50% - 150px);
    background-color: blue;
    border-radius: 25px;
    transition: transform 2s linear;
    
}
.short:hover {
    transform: rotate(360deg);
}
.short2 {
    width: 300px;
    height: 60px;
    background-color: yellow;
    border-radius: 10px;
    top: 300px;
    transition: 3s;
    left: calc(30% - 150px);
    transition-delay: 2s;
}
.short3 {
    width: 300px;
    height: 60px;
    background-color: green;
    border-radius: 10px;
    top: 300px;
    transition: 3s;
    left: calc(50% + 150px);
    transition-delay: 2s;
}
.short:hover~.short2 {
    transform: rotate(360deg);
}
.short:hover~.short3 {
transform: rotate(-360deg)
}
.center {
    width: 400px;
    height: 200px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}
.center:hover {
    background-color: white;
    color: black;
}